
*.bat
*.saved_uv4
*.o
*.crf
*.d
*.axf
*.htm
*.hex
*.map
*.lnp
*.sct
*.dep
*.inc
*.url
*.od
*.txt
*.XLH
*.zip

*.pc
*.uvoptx
*.uvprojx
*.xml
*.project
*.mxproject
*.cproject

# git root 下的Debug目录
Debug/


# git root 下的tags文件
tags
